#perguntas{
	/*margin-bottom: 300px; */
    padding-top: 50px;
    /* position: relative; */
    /* margin-bottom: auto; */
    min-height: 60vh;
}
h3{
	color: #dc0461;
}
.btn-link,.btn-link:hover{
	color: #dc0461;
}
/*.card-header{
	background-image: url("/assets/Padrão_Cja.jpg");
}*/
.background-image{
	/* The image used */
    /* Full height
    position: fixed;*/
    width: 100%;
    height: 100%;
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    overflow: auto;
   /* padding-top: 15%;
     z-index: -1;
    opacity: 0.6;*/
   /*padding-bottom: 15%; */
}
