<app-header></app-header>
<section id="perguntas">
	<div class="container mb-3">
		<div class="row justify-content-center">
			<h3 class="font-alt font-w-700 letter-spacing-2 m-4 text-uppercase title-small">Perguntas frequentes</h3>
		</div>
		
		<div class="accordion" id="accordionExample">
			<div class="card ">
			    <div class="card-header" id="headingOne">
			      <h2 class="mb-0">
			        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
			          O que é o cartão jovem?
			        </button>
			      </h2>
			    </div>
			    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			</div>
			<div class="card">
			    <div class="card-header" id="headingTwo">
			      <h2 class="mb-0">
			        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
			          Como posso adquirir o cartão?
			        </button>
			      </h2>
			    </div>
			    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			 	</div>
			</div>
			<div class="card">
			    <div class="card-header" id="headingThree">
			      <h2 class="mb-0">
			        <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
			          Onde estão localizados?
			        </button>
			      </h2>
			    </div>
			    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
			      <div class="card-body">
			        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
			      </div>
			    </div>
			</div>
		</div>
	</div>
</section>
<app-footer></app-footer>
<!--secção about
<section id="about">
	<div class="container">
		<div class="row justify-content-center mb-5">
            <div class="col-lg-8 offset-2 text-center mb-3 mb-lg-5">
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Sobre o Cartão Jovem</h3>
                <span class="bg-blue d-block mt-4 mx-auto sep-line-medium-thick-long"></span>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 offset-lg-1 col-xl-8 text-justify text-lg-left">
                
                <p class="text-medium text-justify">Cartão Jovem é uma iniciativa de âmbito nacional que visa proporcionar vantagens aos jovens em várias atividades do dia-a-dia. Com o intuito de promover medidas que estimulem jovens de todo o país, e assim contribuírem para desenvolver e promoção de iniciativas locais e nacionais, bem como permitir o acesso privilegiado a bens e serviços de valor acrescentado, estes de mais difícil acesso a quem não tem o CJA (Cartão Jovem Angola). </p>
                <p class="text-medium text-justify">Igualmente permite aos seus parceiros tais como Instituições Públicas, Associações, Empresas Privadas e Organismos de Apoio Social o acesso a uma ferramenta de marketing rápida e eficaz com retorno garantido, privilegiada e assente numa vasta base de dados de novos consumidores, que são o futuro do país.</p>
                <p class="text-medium text-justify">
                <a [routerLink]="['/']" class="page-scroll btn btn-outline-black btn-small border-thick mt-2 mx-0">Aderir ao cartão</a>
            </div>
        </div>            
	</div>
</section>

-->