<nav class="navbar navbar-expand-lg  navbar-light"  >
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!--<a class="navbar-brand" href="#" #b48d00>Media Rumos</a>width="150" -->
  <a class="navbar-brand" [routerLink]="['/']"><img src="assets/cja3-100x62.png" alt="logo" class="d-inline-block align-top"></a>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
       <li class="nav-item mr-5">
        <a class="nav-link" href="#"><i class="fa fa-thumbs-o-up fa-2x"></i></a>
      </li> 
      <li class="nav-item mr-5">
        <a class="nav-link" href="#"><i class="fa fa-camera-retro fa-2x" aria-hidden="true"></i></a>
      </li>
      <li class="nav-item mr-5">
        <a class="nav-link" href="#"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
      </li> 
      <!-- <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/']">Aderir ao cartão</a>
      </li> -->
    </ul>
  </div><!--background-color: #f9d608;-->
</nav>