.navbar,.navbar-light{
	background-color:#dc0461
}
.navbar-brand img{
	/*position: absolute;
    background-color: #d80957;
    margin: -33px 5px 10px 80px;*/
    height: 55px;
}

@media (max-width: 576px){ 	
	.navbar-brand img {
		height: 50px;
	}
	.navbar-light .navbar-nav .nav-link{
		color: #fff;
		font-weight: bolder;
		font-size: 14px;
	}
	.navbar-light .navbar-nav .nav-link.active{
		color: #fff;
		font-size: 16px;
	}
	.navbar-light .navbar-nav .nav-link:hover{
		color: #fff;
		font-size: 18px;
	}
}
.navbar-light .navbar-nav .nav-link{
	color: #fff;
	font-weight: bolder;
	font-size: 18px;
}
.navbar-light .navbar-nav .nav-link.active{
	color: #fff;
	font-size: 20px;
}
i{
	color: white;
}
.navbar-light .navbar-nav .nav-link:hover{
	color: #fff;
	font-size: 22px;
}/**/
