<nav class="navbar navbar-expand-lg  navbar-light" > <!--style="background-image:url('assets/Padrão_Cja.jpg');"-->
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" [routerLink]="['/']"><img src="assets/cja-novo4.png" alt="logo" class="d-inline-block align-top"></a><!--cja3-100x62.png-->

  <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
    <ul class="navbar-nav mx-auto mt-2 mt-lg-0">
      <li class="nav-item mr-2">
        <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" [routerLink]="['/']">Início</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/perguntas-frequentes']">Informações</a>
      </li> 
      <li class="nav-item mr-2">
        <a class="nav-link" routerLinkActive="active" href="#parceiros" aria-label="Parceiros">Parceiros</a>
      </li> 
      <li class="nav-item mr-2">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/comunidade-jovem']">Comunidade Jovem</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/sobre-nos']">Sobre nós</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/jovensmais']" aria-label="jovensmais">Jovens+</a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/registo-cartao']">Emissão online</a>
      </li>
    </ul><!---->
    <ul class="navbar-nav mt-2 mt-lg-0">
      
       <li class="nav-item mr-2">
        <a class="nav-link" href="https://www.facebook.com/CartaoJovemAngola/" target="_blank" rel="noopener" aria-label="facebook cartaojovemangola"><i class="fa fa-facebook-square fa-2x" (click)="submitEvent('Facebook')"></i></a>
      </li> 
      <li class="nav-item mr-2">
        <a class="nav-link" href="https://www.instagram.com/cartaojovemangola/" target="_blank" rel="noopener" aria-label="instagram cartaojovemangola"><i class="fa fa-instagram fa-2x" aria-hidden="true" (click)="submitEvent('Instagram')"></i></a>
      </li>
      <li class="nav-item mr-2">
        <a class="nav-link" href="tel:923190050" aria-label="Número telefone cartaojovemangola" (click)="submitEvent('Ligar')"><i class="fa fa-phone fa-2x" aria-hidden="true"></i></a>
      </li>
    </ul>
  </div>
</nav>