<section id="footer1" style="background-color: black;">
    <footer>
        <div class="container py-4">
            <div class="row">
                <div class="col-md-8 col-sm-12 mb-5">
                    <div class="row">
                        <div class="col-md-4 col-sm-4 mb-4">
                            <a class="font-weight-bold text-uppercase title-small px-3 py-1">Informação</a>
                            <ul class="nav flex-column">
                              <li class="nav-item">
                                <a class="nav-link text-uppercase" [routerLink]="['/noticias']">Notícias</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link text-uppercase" [routerLink]="['/perguntas-frequentes']">Perguntas Frequentes</a>
                              </li>
                              <li class="nav-item">
                                <a class="nav-link text-uppercase" [routerLink]="['/regulamento']">Regulamento</a>
                              </li>
                              <!-- <li class="nav-item">
                                <a class="nav-link text-uppercase" [routerLink]="['/contactos']">Contactos</a>
                              </li> -->
                            </ul>
                        </div>
                        <!-- <div class="col-md-3 col-sm-4">
                            <a class="font-weight-bold text-uppercase title-small px-3 py-1">Vantagens</a>
                            <ul class="nav flex-column">
                              <li class="nav-item">
                                <a class="nav-link text-uppercase" href="#">Promocionais</a>
                              </li>
                            </ul>
                        </div> -->
                        <div class="col-md-4 col-sm-4 mb-4">
                            <a class="font-weight-bold text-uppercase title-small px-3 py-1" [routerLink]="['/registo-cartao']">Emissão online</a>
                        </div>
                        <div class="col-md-4 col-sm-4 mb-4">
                        	<p >
                        		<span><i class="fa fa-phone"></i> 999 999 999</span>	<br>
                        		<span><i class="fa fa-envelope"></i> cartão@cartaojovem.co.ao</span><br>
                        		<span><i class="fa fa-map-marker"></i> Rua Kwame Nkrumah , Edifício  Impor África, Maianga - Luanda</span>
                        	</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-12">
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="nome" placeholder="Nome">
                          </div>
                          <div class="form-group">
                            <input type="email" class="form-control" id="email" placeholder="email@example.com">
                        </div>
                      
                        <div class="form-group">
                            <textarea class="form-control" id="mensagem" rows="3" placeholder="Mensagem"></textarea>
                        </div>
                        <div class="ml-auto">
                            <button type="submit" class="btn btn-default">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</section>
