#noticias{
	/*margin-bottom: 300px; */
    padding-top: 50px;
    /* position: relative; */
    /* margin-bottom: auto; */
    min-height: 60vh;
}
h3{
	color: #dc0461;
}
.btn-link,.btn-link:hover{
	color: #dc0461;
}
.card{
	/*height: 350px;*/
	/*border-color: #dc0461;*/
}
@media (max-width: 576px){

}
/*.card img{
	height: 150px;
}*/
.row > div[class*='col-'] {
  display: flex;
  flex:1 0 auto;
}