<app-header></app-header>
<section id="noticias">
	<div class="container mb-3">
		<div class="row justify-content-center">
			<h3 class="font-alt font-w-700 letter-spacing-2 m-4 text-uppercase title-small">Notícias</h3>
		</div>
		<div class="row p-3">
			<div class="col-md-3 mb-3" *ngFor=" let noticia of noticias | paginate: { itemsPerPage: 8, currentPage: p }; let i= index ">
				<div class="card">
				  <img src="assets/images/JovensMais Shoot-9.jpg" class="card-img-top" alt="...">
				  <div class="card-body">
				  	<h5 class="card-title">{{noticia.title}}</h5>
				    <p class="card-text"> <a [href]="noticia.url" target="_blank" rel="noopener">Leia mais</a></p>
				  </div>
				</div>
			</div>
			
		</div>
		<div class="row justify-content-center" >
			<pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Próxima"></pagination-controls>
		</div>
	</div>
</section>
<app-footer></app-footer>