<app-header></app-header>
<section id="noticias">
	<div class="container mb-3">
		<div class="row justify-content-center">
			<h3 class="font-alt font-w-700 letter-spacing-2 m-4 text-uppercase title-small">Notícias</h3>
		</div>
		<div *ngIf=" noticias as noticias1; else loading">
			<ng-container *ngIf=" noticias1.length; else noItems">
				<div class="row p-3">
					<div class="col-md-3 mb-3" *ngFor=" let noticia of noticias1 | paginate: { itemsPerPage: 8, currentPage: p }; let i= index ">
						<div class="card-deck">
							<div class="card" >
							  <img *ngIf="noticia.src" [src]="noticia.src" class="card-img-top" alt="...">
							  <img *ngIf="noticia.src == ''" src="assets/images/JovensMais Shoot-9.jpg" class="card-img-top" alt="...">
							  <div class="card-body">
							  	<h6 class="card-title">
							     <a [href]="noticia.url" target="_blank" rel="noopener">{{noticia.title}}</a>
							 	</h6>
							  </div>
							</div>
						</div>
					</div>
				</div>
				<div class="row justify-content-center" >
					<pagination-controls (pageChange)="p = $event" autoHide="true" responsive="true" previousLabel="Anterior" nextLabel="Próxima"></pagination-controls>
				</div>
			</ng-container>
			<ng-template #noItems>Sem notícias para apresentar!</ng-template>
		</div>
		<ng-template #loading ><i class="fa fa-spinner fa-spin" style="font-size:60px"></i></ng-template>
	</div>
</section>
<app-footer></app-footer>