<app-header></app-header>
	<div class="row no-gutters">
		<div class="col-3">
			<img class="img-fluid" src="assets/images/JovensMais Shoot.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/images/JovensMais Shoot-9.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/images/JovensMais Shoot-53.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/images/JovensMais Shoot-37.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-18.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-2.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-8.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-17.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-3.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-22.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-31_32.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-19.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-31_32.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-4.jpg" alt="">
		</div>
		
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-51.jpg" alt="">
		</div>
		<div class="col-3">
			<img class="img-fluid" src="assets/jovens/JovensMais-Shoot-55.jpg" alt="">
		</div>

	</div>
<app-footer></app-footer>
<!-- <section class="gallery-block compact-gallery" id="jovens1">
	<div class="container-fluid">
		<div class="row no-gutters">
			<div class="col-4 item zoom-on-hover"><a href="#" class="lightbox"><img class="img-fluid" src="assets/images/JovensMais Shoot.jpg" alt=""></a></div>
			<div class="col-4 item zoom-on-hover"><a href="#" class="lightbox"><img class="img-fluid" src="assets/images/JovensMais Shoot-9.jpg" alt=""></a></div>
			<div class="col-4 item zoom-on-hover"><a href="#" class="lightbox"><img class="img-fluid" src="assets/images/JovensMais Shoot-53.jpg" alt=""></a></div>
			<div class="col-4 item zoom-on-hover"><a href="#" class="lightbox"><img class="img-fluid" src="assets/images/JovensMais Shoot-37.jpg" alt=""></a></div>
		</div>
	</div>
</section> -->