<app-header></app-header>
<section id="regulamento">
	<div class="container">
		<div class="row justify-content-center">
			<h3 class="font-alt font-w-700 letter-spacing-2 m-4 text-uppercase title-small">Regulamento</h3>
		</div>
		<div class="row p-3">
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ex dicta beatae excepturi autem. Maxime ratione corrupti tempore, eligendi saepe beatae dolorem ullam necessitatibus autem, molestias cumque dolorum laudantium non illo!</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque nulla necessitatibus voluptatibus repudiandae, aliquam maxime officiis enim rem aspernatur esse nisi quas impedit reprehenderit, consequuntur, tenetur architecto deserunt dolor recusandae.</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit amet nobis inventore minus quo dicta hic, veniam debitis esse repudiandae, architecto rerum qui. Laboriosam dolorem numquam modi ipsam assumenda praesentium!</p>
			<p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit, officia autem fuga. Incidunt dolore, laborum repudiandae facilis! Architecto vel maiores dicta, nam ipsum rem, necessitatibus ab, illum in asperiores fugit.</p>
		</div>
	</div>
</section>
<app-footer></app-footer>