<app-header></app-header>
<section id="regulamento">
	<div class="container">
		<div class="row justify-content-center">
			<h3 class="font-alt font-w-700 letter-spacing-2 m-4 text-uppercase title-small">Regulamento <br>TERMOS E CONDIÇÕES DO CARTÃO JOVEM ANGOLA</h3>
		</div>
		<div class="row p-3">
			<p class="text-justify">O Cartão Jovem Angola é um título pessoal e intransmissível, acessível a jovens entre os 15 e os 35 anos de idade.</p>
			<p class="text-justify">As Vantagens concedidas, independentemente do suporte em que as mesmas se encontrem, destinam-se à aquisição de bens e/ou serviços para uso exclusivo do titular do Cartão Jovem Angola.</p>
			<p class="text-justify">É responsabilidade dos jovens, no momento da solicitação do Cartão Jovem Angola, seja a mesma efectuada online ou presencialmente, prestarem com veracidade as informações necessárias à emissão do Cartão, nomeadamente o dado relativo à sua data de nascimento</p>
			<p class="text-justify">O Cartão Jovem Angola, dentro do seu período de validade efectiva, pode ser utilizado em qualquer província angolana, independentemente do local onde foi adquirido e salvaguardando as limitações aplicadas em cada província.</p>
			<p class="text-justify">O Cartão Jovem Angola é válido em todas as empresas e entidades que, mesmo não constando em qualquer um dos suportes utilizados para a promoção das Vantagens, exibam na sua montra/vitrina/site o autocolante/logótipo Cartão Jovem Angola.
			</p>
			<p>Veja todos <a href="assets/doc/REGULAMENTO - CJA.pdf" target="_blank" rel="noopener"> Termos e condições</a></p>
		</div>
	</div>
</section>
<app-footer></app-footer>