<app-header></app-header>
<!-- Section - Contact Start -->
<section class="bg-white" id="faleconosco">
    <div class="container pt-5">
        <div class="row justify-content-center mb-5">
            <div class="col-lg-6 text-center mb-3 mb-lg-5">
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Contacte-nos</h3>
                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-2 text-gray-800 text-small text-uppercase">Nós gostariamos de ouvi-lo!</span></div>
            <!-- //.col-lg-6 -->
        </div>
        <!-- //.row -->
        <div class="row mb-5">
            <div class="col-lg-6 col-xl-5">
                <h3 class="font-alt font-w-700 letter-spacing-2 m-0 text-uppercase title-small">Tem questões ou comentários a fazer sobre o Cartão Jovem?</h3>
                <span class="d-block font-alt font-w-600 letter-spacing-1 mt-2 text-gray-800 text-small text-uppercase">Por favor contacte-nos através do formulário abaixo</span>
                <form action="contact/send_mail.php" class="mt-4" id="form-contact" method="post">
                    <div class="form-group">
                        <input class="font-alt form-control required" id="contact-name" name="name" placeholder="Nome" type="text" />
                    </div>
                    <!-- //.form-group -->
                    <div class="form-group">
                        <input class="font-alt form-control required email" id="contact-email" name="email" placeholder="Email" type="email" />
                    </div>
                    <!-- //.form-group -->
                    <div class="form-group">
                        <textarea class="font-alt form-control required" id="contact-message" name="message" placeholder="Mensagem" rows="6"></textarea>
                    </div>
                    <!-- //.form-group --><span class="d-block font-alt font-w-600 letter-spacing-1 text-extra-small text-uppercase">*Por favor preencha todos campos correctamente</span>
                    <button class="btn btn-sm btn-lg btn-primary mt-4" id="btn-form-contact" type="submit">Enviar Mensagem</button>
                </form>
            </div>
            <!-- //.col-lg-6 -->
            <div class="col-lg-6 offset-xl-1 mt-5">
                <div class="align-items-center bg-white border border-gray-300 box-shadow d-flex justify-content-between mt-4 mt-lg-0 p-4 position-relative rounded">
                    <div class="pr-md-4"><span class="d-block font-alt font-w-600 letter-spacing-1 text-small text-uppercase">E: catão@cartaojovem.co.ao</span> <span class="d-block font-alt font-w-600 letter-spacing-1 mt-1 text-small text-uppercase">P: +244 123 456 789</span></div>
                    <!-- //.pr-md-4 <img alt="" class="img-fluid rounded d-none d-md-block" src="assets/images/contact-1.jpg" />--></div>
                <!-- //.align-items-center -->
                <div class="align-items-center bg-white border border-gray-300 box-shadow d-flex justify-content-between mt-4 p-4 position-relative rounded">
                    <div class="pr-md-4"><span class="d-block font-alt font-w-600 letter-spacing-1 text-small text-uppercase">Visite-nos: Rua Kwame Nkrumah , Edifício  Impor África, Maianga - Luanda</span> <span class="d-block font-alt font-w-600 letter-spacing-1 mt-2 text-gray-800 text-extra-small text-uppercase">Estamos abertos das 08H00 — 18H00  todos dias úteis</span></div>
                    <!-- //.pr-md-4 <img alt="" class="img-fluid rounded d-none d-md-block" src="assets/images/contact-2.jpg" />--></div>
                <!-- //.align-items-center -->
            </div>
            <!-- //.col-lg-6 -->
        </div>
        <!-- //.row -->
    </div>
    <!-- //.container -->
</section>
<app-footer></app-footer>