<app-header></app-header>
<div id="carouselExampleSlidesOnly1" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleSlidesOnly1" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleSlidesOnly1" data-slide-to="1"></li>
    <li data-target="#carouselExampleSlidesOnly1" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">

    <div class="carousel-item active">
      <div class="overlay"></div>
      <img src="assets/images/JovensMais Shoot.jpg" class="d-block w-100 h-100" alt="1">
      <div class="carousel-caption d-md-block">
        <h1>Jeito Bué Jovem de Viver!</h1>
        <h3>CARTÃO JOVEM ANGOLA, tem bué mais!</h3>
      </div>  
    </div>
    <div class="carousel-item">
      <div class="overlay"></div>
      <img src="assets/images/JovensMais Shoot-37.jpg" class="d-block w-100 h-100" alt="2">
      <div class="carousel-caption d-md-block">
        <h1>Cartão Jovem Angola, Vive sem limites!</h1>
        <h3>Faz por ti, CARTÃO JOVEM ANGOLA!</h3>
      </div>  
    </div>
    <div class="carousel-item">
      <div class="overlay"></div>
      <img src="assets/images/JovensMais Shoot-53.jpg" class="d-block w-100 h-100" alt="3">
      <div class="carousel-caption d-md-block">
        <h1>Faz mais, gasta menos! CARTÃO JOVEM ANGOLA!</h1>
      </div>  
    </div>
  </div>
</div>

<!--secção parceiros-->
<section id="parceiros">
	<div class="container">
		<div class="row justify-content-center mb-5">
      <h5 class="font-alt font-w-300 letter-spacing-2 m-0 text-uppercase title-small px-3 py-1">Parceiros em destaque</h5>
    </div><!-- //.row -->
            
    <!--<div class="row justify-content-center">
      <div class="col-md-12 ">-->
        <owl-carousel [options]="carouselOptions" [items]="images" [carouselClasses]="['owl-theme', 'row', 'sliding']" #owlElement>
          <div class="item" *ngFor="let image of images;let i = index ">
            <a [href]="image.site" target="_blank" rel="noopener"><img [src]="image.url" class="slide-image" [alt]="'parceiro'+i" /></a>
          </div>
        </owl-carousel>
     <!-- </div>
    </div>-->
	</div><!-- //.container -->
</section>
<section id="video" class="mt-5">
      <!--<div class="embed-responsive embed-responsive-16by9">
     <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LZP2TelsKhQ?rel=0" allowfullscreen></iframe>--> 
      <!--<iframe class="embed-responsive-item" src="http://instagram.com/p/BwkTcLNHfls/embed" width="400" height="480" frameborder="0" scrolling="no" allowtransparency="true"></iframe>
    </div>-->
    <!----><div class="embed-responsive embed-responsive-16by9">
      <video class="embed-responsive-item" controls>
        <source src="assets/video/teaser oficial cja.mp4" type="video/mp4">
      </video>
    </div>
</section>
<app-footer></app-footer>
