.navbar,.navbar-light{
	background-color:#dc0461
}
.navbar-brand img{
	/*position: absolute;
    background-color: #d80957;
    margin: -33px 5px 10px 80px;*/
    height: 55px;
}

@media (max-width: 576px){ 	
	.navbar-brand img {
		height: 50px;
	}
}
#parceiros{
	border-top: 7px solid #fec600;
}
#parceiros h5{
	background-color: #fec600;

}
i{
	color: white;
}
#video{
	border-top: 7px solid #fec600;
	border-bottom: 7px solid #fec600;
}
.embed-responsive{
	height: 400px;
}
#footer1 a{
	color: white;
	text-decoration:none;
}
#footer1 .title-small{
	color: white;
	background-color: gray;
}
#footer1 a,h6{
	font-size: 12px;
}
.btn-default{
	color: #fff;
	background-color: #dc0461;
	border-color: #dc0461;
}
#carouselExampleSlidesOnly1 .carousel-indicators li{
	background-color: #dc0461;
	height: 20px;
    width: 20px;
    border-radius: 50%;/*circle*/
}
/*#carouselExampleSlidesOnly .carousel-indicators li{
	background-color: #fec600;
}*/
/*#carouselExampleSlidesOnly1 img{
	height: 350px;
}

*/
/*#carouselExampleSlidesOnly {margin-left: 30px; margin-right: 30px;}

.carousel-control {
	top: 50%;
}
.carousel-inner {
	width: 940px;
	
}
.carousel-control-prev, .carousel-control-next {
	background: none;
	color: red;
	border: none;
}*/
/*.carousel-control-prev {margin-left: -45px; color: black;}
carousel-control-next {margin-right: -45px; color: black;}

*/
  /*.carousel {
 background: #FAFAFA;
   space for prev/next buttons margin: 0 60px;
}

.carousel-cell {
  width: 100%;
  height: 200px;
  margin-right: 10px;
  background: #8C8;
  border-radius: 5px;
  counter-increment: gallery-cell;
}*/

/* smaller, dark, rounded square 
.carousel-control-prev,.carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 5px;
  background: #333;
}
.carousel-control-prev:hover {
  background: #F90;
}
.carousel-control-next:hover {
  background: #F90;
}*/
/* arrow color 
.carousel-control-prev .carousel-control-prev-icon,.carousel-control-next .carousel-control-prev-icon {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}*/
/* position outside 
.carousel-control-prev {
  left: -40px;
}
.carousel-control-next {
  right: -40px;
}*/
.owl-carousel {
  width: 90% !important;
  margin: 10% auto;
}
 
.owl-carousel .owl-nav {
  overflow: hidden;
  height: 0px;
}
 
.owl-carousel .nav-btn {
  height: 47px;
  position: absolute;
  width: 26px;
  cursor: pointer;
  top: 30% !important;
}
 
.owl-carousel .owl-prev.disabled,
.owl-carousel .owl-next.disabled {
  pointer-events: none;
  opacity: 0.2;
}
 
.owl-carousel .prev-slide {
  /*background: url(./assets/images/nav-icon.png) no-repeat scroll 0 0;*/
  left: -33px;
}
 
.owl-carousel .next-slide {
  /*background: url(./assets/images/nav-icon.png) no-repeat scroll -24px 0px;*/
  right: -33px;
}
 
.owl-carousel .prev-slide:hover {
  background-position: 0px -53px;
}
 
.owl-carousel .next-slide:hover {
  background-position: -24px -53px;
}