<!--secção about-->
<app-header></app-header>
<section id="sobre">
	<div class="container">
		<div class="row justify-content-center mb-3">
            <div class="row justify-content-center">
			<h3 class="font-alt font-w-700 letter-spacing-2 m-4 text-uppercase title-small">Sobre nós</h3>
		</div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10 offset-lg-1">
                
                <p class="text-justify">Cartão Jovem é uma iniciativa de âmbito nacional que visa proporcionar vantagens aos jovens em várias atividades do dia-a-dia. Com o intuito de promover medidas que estimulem jovens de todo o país, e assim contribuírem para desenvolver e promoção de iniciativas locais e nacionais, bem como permitir o acesso privilegiado a bens e serviços de valor acrescentado, estes de mais difícil acesso a quem não tem o CJA (Cartão Jovem Angola). </p>
                <p class="text-justify">Igualmente permite aos seus parceiros tais como Instituições Públicas, Associações, Empresas Privadas e Organismos de Apoio Social o acesso a uma ferramenta de marketing rápida e eficaz com retorno garantido, privilegiada e assente numa vasta base de dados de novos consumidores, que são o futuro do país.</p>
                <!-- <a [routerLink]="['/registo-cartao']" class="page-scroll btn btn-outline-black btn-small border-thick mt-2 mx-0">Aderir ao cartão</a> -->
            </div>
        </div>            
	</div>
</section>
<app-footer></app-footer>
